@import "bootstrap";

form {
  background-color: #fff;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
  position: relative;
  padding: 45px 30px;

  .radio-inline label {
    margin: 0;
    font-weight: normal;
  }
}