@import "bootstrap";

h1 {
  margin: 0 0 40px;
}
.container {
  padding: 20px 40px;
}
form {
  background-color: #fff;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
  position: relative;


  .radio-inline label {
    margin: 0;
    font-weight: normal;
  }
}