<p>Vážená paní doktorko, vážený pane doktore!</p>
<p>Pro názornou edukaci Vašeho pacienta, zadejte, prosím, do následující aplikace laboratorní hodnoty a další údaje
Vašeho pacienta.</p>

<p style="padding-top:30px;"><button {{action "goToForm"}}>Zadat údaje</button></p>
